@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

h1 {
  @apply text-3xl md:text-4xl lg:text-7xl font-semibold font-[family-name:var(--font-playfair-display)];
}

h2 {
  @apply text-2xl lg:text-4xl font-semibold font-[family-name:var(--font-playfair-display)];
}

h3 {
  @apply text-lg md:text-xl lg:text-2xl font-medium font-[family-name:var(--font-playfair-display)];
}

h4 {
  @apply text-base md:text-lg lg:text-xl font-medium font-[family-name:var(--font-playfair-display)];
}

p {
  @apply text-lg md:text-xl;
}

label {
  @apply text-base text-black;
}

input,
select,
textarea {
  @apply outline-none border border-gray-300 rounded-xl px-3 py-2 placeholder:text-sm;
}

@layer components {
  .container {
    margin: auto;
    max-width: 1440px;
  }

  @media screen and (max-width: 640px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media screen and (max-width: 1020px) {
    .container {
      max-width: 1000px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media screen and (min-width: 1020px) {
    .container {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
}
